/* Poppins Font - Self Hosted */
/* Generated for Bansal Lawyers - Performance Optimized */

/* Poppins Light (300) */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/poppins/poppins-light.woff2') format('woff2');
}

/* Poppins Regular (400) */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/poppins/poppins-regular.woff2') format('woff2');
}

/* Poppins Medium (500) */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/poppins/poppins-medium.woff2') format('woff2');
}

/* Poppins SemiBold (600) */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/poppins/poppins-semibold.woff2') format('woff2');
}

/* Poppins Bold (700) */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/poppins/poppins-bold.woff2') format('woff2');
}

/* Poppins ExtraBold (800) */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/fonts/poppins/poppins-extrabold.woff2') format('woff2');
}
